/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}
header.header{
  text-align: center;
  a.logo{
    margin-top: 90px;
  }
}


nav.main-menu{
  background-color: rgba(0,0,0,0.7);
  margin-bottom: 40px;
  position: relative;
  z-index: 10;
  ul{
    display: block;
  }
  ul.menu-all{
    padding: 0;
    margin: 0;
    overflow: visible;
    max-height: auto;
    display: block;
    li{
      display: inline-block;
      margin: 0 15px;
      /*for bigger menus */
      &:nth-last-child(n+4), 
      &:nth-last-child(n+4) ~ * {
        margin: 0 5px;
      }

      &.current-menu-item{
        a{
          font-weight: normal;
          border-top-color: $blue;
          background-color: transparent;
          font-weight: bold;
          &:hover{
            font-weight: bold;
          }
        }
      }
      &:hover a{
        font-weight: normal;
        border-top-color: $blue;
        background-color: transparent;
        color: $blue;
      }
      &.get-tickets{
        position: relative;
        a.get-tickets-button, a.get-tickets-button:hover{
          display: inline-block;
          background-color: $blue;
          color: $white;
          font-weight: bold;
        }
        ul{
          position: absolute;
          top: 45px;
          right: 0;
          max-height: 0;
          overflow: hidden;
          @include transition(max-height, 0.3s, ease-in-out);
          li{
            display: block;
            margin: 1px 0 0 0;
            &:hover{
              background-color: rgba(255,255,255,0.95);
            }
            a{
              border: none;
              :hover{
                border: none;
              }
            }
          }
        }
        .no-touch & {
          &:hover {
            ul{
              max-height: 250px;
            }
          }
        }
        &.open{
          ul{
            max-height: 250px;
          }
        }
      }
    }
  }
  a{
    background: none;
    font-weight: normal;
    padding: 10px 20px;
    display: inline-block;
    font-size: 100%;
    border-top: 3px solid transparent;
    color: $blue;
  }
  a.menu-button{
    display: none;
  }
}





.content-main{
	width: 450px;
}

.blog-home, .locations{
  div{
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
    article{
      width: 30%;
      margin-right: 5%;
      display: block;
      float: left;
      padding: 30px 0 100px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.locations div article{
  padding: 30px 0 20px 50px;
}

.blog-main{
  width: 700px;
  h1{
    text-align: center;
  }
}

.speaker-schedule{
  ul{
    li{
      max-width: 730px;
      text-align: left;
      .time-image{
        width: auto;
        float: left;
      }
      img.photo{
        width: 140px;
        float: right;
        margin-right: 10px;
        @include rounded(50%);
        border: 8px solid rgba(98,173,236,0.3);
      }
      time{
        position: relative;
        top: 15px;
        left: 0;
        height: 30px;
        float: right;
        width: 60px;
        font-size: 130%;
        text-align: right;
      }
      .content{
        margin-left: 30px;
        width: 60%;
        float: left;
        padding-top: 15px;
        h4{
          font-size: 30px;
          margin-left: 0;
          img{
            top: 0;
          }
        }
      }
    }
  }
}